.footer{
    margin-top: 100px;
    background-color: navy;
    padding: 40px;
}

.foot{
    color: white;
    display: flex;
    justify-content: center;
    gap: 150px;
}

h3{
    color: yellow;
}

h3:hover{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

p:hover{
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.copy{
    text-align: center;
    color: white;
}

